.all{
	background-color: rgb(43,43,43);
	width: 100%;
    height:100%;
	box-sizing: border-box;
}

.global-container {
	height: auto;
}

.container{
	width: 100%;
	height: 100%;

}

div:after {
	content: "";
	clear: both;
	display: table;
}

.space-left{
	width:20%;
	position: relative;
	height: 100%;
	float: left;
	z-index: 1;
	background-color: rgba(255,255,255,0.8);

}

.space-right{
	width:80%;
	height: 100%;
	float:right;
	background-color: rgba(255,255,255,0.9);
	z-index: 2;
}



.slide-bottom{
	height:100px;
	margin-top: 40px;
	font-size: 33px;
	font-family:'Times New Roman', Times, serif;

	text-align: center;
	cursor: pointer;
}

.title{
	height: 70px;
    margin-top: 25px;
    font-size: 33px;

    font-family: fantasy;
    text-align: center;
}

.list{
	height: 300px;

	cursor: pointer;
}

.item{
	margin-top: 35px;
	text-decoration: none;
}

.item div{
	width:100%;
	height: 50px;
	font-size: 23px;
	display: flex;
	align-items: center;
	justify-content: center;
    font-family: fantasy;
	text-align:center;
	margin-bottom: 10px;
	cursor: pointer;
	float:left;
}

.space-right-top{
	height: 70px;

	padding: 20px;

}

.headline{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
    font-size: 30px;
    background-color:rgba(255,255,255,1);
	border-radius: 8px;
	text-align:left;
	padding: 15px;
}

.content{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
    font-size: 25px;
    background-color:rgba(255,255,255,1);
	border-radius: 8px;
	text-align:left;
	padding: 15px;

}

.space-right-bottom{
	height: 80%;
	padding: 10px;
	overflow-y: scroll;

}

.body_item {
	height: 100%;
}

.body-item{
	border: 10px solid #999;
	overflow: hidden;

	padding: 10px;
}

.active{
    color: #3f7dff;
	padding-left: 10px;

    border-left: 3px solid #3f7dff;
}

.img{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 350px;

}

a {
	color: $dark-blue;
	margin: 0;
	text-decoration: none;
}

a:focus{
	color: $dark-blue;
}
