
.global{
    //margin: 0;
    background-color: rgb(107, 154, 255);
}

.content{
    font-family: 'Lucida Console', Monaco, monospace;
    background-color:#f1f1f1;
    border: 2px dashed yellow;
    //margin: 0 10%;
    width: 100%;
    height: inherit;
    min-height: 100%;
    margin: 0 auto;
    padding-top: 4%;
    box-sizing: border-box;
}

//搜索框
.search-box{
    //position: flex;
    height: 40px;
    width: 400px;
    background-color: white;
    border: 2px solid $dark-blue;
    border-radius: 5px;
    margin: 0 auto;
}
.search-btn{
    color: white;
    float: right;
    width: 60px;
    height: 40px;
    border: none;
    background:$dark-blue;
}
.search-btn:hover{
    color: rgb(107, 154, 255);
    cursor: pointer;
}
.search-text{
    border: none;
    outline: none;
    float: left;
    padding-left: 10px;
    margin-top: 1px;
    font-size: 15px;
    //line-height:35px;
    width:  330px;
    height: 34px;

}

h1, h2 {
    font-weight: normal;
}

//搜索结果
.show1 {
    width: 1300px;
    height: 600px;
    margin:0 auto;
    border: 2px dashed red;
}
img {
    width: 280px;
}
ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}
li.show-video {
    //float: left;
    display: inline-block;
    text-align: left;
    margin: 5px 0 5px 35px;
    width: 280px;
}
li.show-msg {
    padding: 4px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#not-found {
    //position: relative;
    width: 400px;
    margin-top: 100px;
    //display:inline-block;
}
.para {
    //position: absolute;
    color: #aa4b6b;
    text-align: center;
}

//分页
.changePage{
    margin-bottom: 20px;
}
.page-btn {
    color: white;
    width: 60px;
    height: 36px;
    border: none;
    border-radius: 2px;
    background:$dark-blue;
    margin: 2px;
}
.page-btn:hover{
    color: rgb(107, 154, 255);
    cursor: pointer;
}
/*
ul.pagination {
    display: inline-block;
    padding: 0;
    //margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

ul.pagination li a.active {
    background-color: $dark-blue;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}
*/
