/*按钮请添加该选项*/
.btn-blue {
    color: white;
    background-color: rgb(107, 154, 255);
    transition: background-color 1s;
}

.btn-blue:hover {
    background-color: rgb(56, 106, 255);
}

.btn-red{
    color: white;
    background-color: rgb(255, 98, 59);
    transition: background-color 1s;
}

.btn-red:hover{
    background-color: rgb(255, 27, 16);
}

/*超级链接*/
.mlink {

}

.mlink:hover{

}
